@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 0;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
main {
  padding: 0;
}
p,
ul,
li {
  margin-bottom: 10px;
  color: #000;
}
@media screen and (max-width: 767px) {
  main {
    margin: 20px;
  }
  p.text-xl {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

.leading-6 {
  line-height: 1.5;
}